@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer, .push {
    height: 50px;
}

.header-banner {
    height: 159px;
    width: 85%;
    position: absolute;
}

.center-title {
    text-align: center;
}

.logomarca {
    width: 15%;
    height: auto;
}

#home {
    background: #f3f9ff;
    color: #56e852;
}

.navbar-cad {
    margin-top: -10px;
    margin-left: 400px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.removeItem, .removeItem2, .blockItem {
    background-color: lightcoral;
}

.addItem {
    background-color: lightgreen;
}

.unblockItem {
    background-color: lightgreen;
}

.changeItem, .changeItem2 {
    background-color: lightblue;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(30deg, rgb(88, 248, 82), rgb(11, 179, 62));
}

.div {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: auto;
    border-radius: 15px;
    color: #fff;
    padding: 50px;
}

.cor {
    color: black;
}

.divcad {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    padding: 50px ;
    border-radius: 15px;
    color: #fff;
    margin-top: 350px;
    margin-bottom: -100px;
}


