@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer, .push {
    height: 50px;
}

.header-banner {
    height: 159px;
    width: 85%;
    position: absolute;
}

header {
    background-image: url(../img/header.jpg);
}

.center-title {
    text-align: center;
}

.logomarca {
    width: 15%;
    height: auto;
}

#home {
    background: #f3f9ff;
    color: #56e852;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.button {
        width: 30%;
        height: 20%;
        padding: 15px 0;
        background: red;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: 1s;    
        cursor: pointer;
}

.button2 {
    width: 30%;
    height: 80%;
    padding: 15px 0;
    background: #56e852;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;    
    cursor: pointer;
}
