@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

#footer, .push {
    height: 50px;
}

.header-banner {
    height: 159px;
    width: 85%;
    position: absolute;
}

header {
    background-image: url(../img/header.jpg);
}

.center-title {
    text-align: center;
}

.logomarca {
    width: 15%;
    height: auto;
}

#home {
    background: #f3f9ff;
    color: #56e852;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }



.button:hover, .button2:hover {
    transform: scale(1.10);
}

.button {
    background-color: #ff0000;
    border-width: 2px;
    color: white;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button2 {
    background-color: lime;
    color: black;
    padding: 5px 20px;
    font-size: 16px;
    border-width: 2px
}

.button, .button2 {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;  
    font-size: 19px;
}